{% extends 'base.html.twig' %}

{% block title %}Cart product{% endblock %}

{% block body %}
    {% set cart_total = 0 %}
        {% for cart in cart %}

           Product name : {{ cart.name }} <br>
           Product price:  {{ cart.price }}  <br>
           Amount of times:   {{ cart.aantal }} <br>
            {% set cart_total = cart_total + (cart.price * cart.aantal)  %}
            <br><br>

        {% endfor %}
       Totaal prijs: {{ cart_total }}

    {{ form(form, {'action': path('product_checkout'), 'method': 'POST'}) }}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}

    {{ form_row(form.submit, { 'Label': 'Afrekenen' }) }}
    {{ form_end(form) }}

{% endblock %}
