{% extends 'base.html.twig' %}

{% block title %}Cart product{% endblock %}

{% block body %}
    {% set cart_total = 0 %}
    Naam: Batuhan Güngör<br>
    Email: batuhan@gungor.nl
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>{% for cart in cart %}
            {% set cart_total = cart_total + (cart.price * cart.aantal)  %}
            <th scope="row">{{ cart.name }}</th>
            <td>{{ cart.price }}</td>
            <td>{{ cart.aantal }}</td>

        </tr>{% endfor %}

        <br><br>

        </tbody>
    </table>
    Totaal prijs: {{ cart_total }}
{% endblock %}
